<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col>
      <h1 style="color: #121D46; font-weight: bold;">LIBRERIAPAJARITOS</h1>
      <h1 style="color: #121D46;">Ingrese su correo electrónico para recuperar su contraseña</h1>
      <ion-col>
        <ion-col>
          <img src="../../assets/chica_recuperar.png">
        </ion-col>
        <app-form-recuperar></app-form-recuperar>
      </ion-col>


    </ion-col>
  </ion-row>


</ion-content>
