<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <a href="/inicio/"><mat-icon aria-hidden="false" aria-label="inicio"
            fontIcon="arrow_back" style></mat-icon></a>
      </ion-col>
      <ion-col>
        <h1 style="color: #121D46; font-weight: bold;">LIBRERIAPAJARITOS</h1>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Inicia sesión</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 style="font-style: italic;">¡Inicia sesión para continuar!</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../assets/chica_login.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: end; margin-right: 2%;">
        <p>¿Olvidó su </p><a href="/login/" style="text-decoration: none;"><p style="color: #FA5494;"> Contraseña?</p></a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-form-login></app-form-login>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
